<article>
    <img src="../assets/foo.png">
    <a href="../assets/foo.png">Foo</a>
</article>

<ul>
{% for i in 1..2 %}
    <li>
        <img src="./assets/foo-{{ i }}.png">
    </li>
{% endfor %}
</ul>